@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* border: 1px solid; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0 2% 0;
  flex-direction: column;
}

.subContainer {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin-top: 2%;
  border-radius: 10px;
}
.AddButton {
  margin-bottom: 10px;
}

.AddButton {
  height: 40px;
  width: 200px;
  background-color: #6c7ae0;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding-top: 7px;
}

.invocesTable {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.head {
  width: 100%;
  display: block;
}
.headRow {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.tableHeader {
  min-width: 14%;
}
.tbody {
  display: block;
}
.row {
  justify-content: space-between;
  display: inline-flex;
  width: 100%;
}
.rowElement {
  width: 100%;
  max-width: 14%;
  padding: 16px 5px 16px 5px;
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
}
.headRow {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  background-color: #6c7ae0;
  padding-top: 18px;
  padding-bottom: 18px;
}
.TableColum {
  padding-left: 40px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgb(246, 236, 236);
  margin-bottom: 1px;
}

.logo {
  display: flex;
  align-items: center;
  width: 70vw;
  justify-content: space-between;
}
.logo img {
  width: 100%;
  max-width: max-content;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.topheader {
  margin-bottom: 20px;
  color: #505050;
}

@media screen and (width<700px) {
  .logo {
    flex-direction: column;
  }
  table {
    display: block;
    overflow-x: auto;
    height: fit-content;
  }
  .rowElement {
    width: 100px;
  }
  .tableHeader {
    width: 100px;
  }
  .row,
  .head {
    width: 700px;
  }
}
@media (max-width: 500px) {
  .AddButton {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .logo{
    padding: 0 15px;
  }
  h2 {
    display: none;
  }
}

