* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.subContainer {
  display: flex;
  flex-direction: column;
  height: 48%;
  width: 70%;
  max-width: 800px;
}
.subContainer .AddButton {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

#AddButton {
  height: 40px;
  width: 200px;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: cursive;
}

.head {
  width: 100%;
  background-color: #007bff;
}
.headRow {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

.tableHeader {
  min-width: 14%;
}
.tbody {
  flex-direction: column;
  display: flex;
}
.row{
  justify-content: space-between;
  display: inline-flex;
  background-color: #007bff3d;
  width: 100%;
  
}
.rowElement{
  width: 100%;
  display: inline-flex;
  min-width: 14%;
  justify-content: center;
  
}

@media screen and (width<700px) {
  table {
    display: block;
    overflow-x: auto;
    height: fit-content;
  }
  .rowElement{
    width: 100px;
  }
  .tableHeader{
    width: 100px;
  }
  .row{
    width: 700px;
  }
}

